@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700;800;900&display=swap');

/*font-family: 'Archivo', sans-serif;*/

:root {
  --button-color: #f69709;
}

* {
    margin: 0;
    padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

/*Header*/
.header-container {
  display: flex;
  padding-left: 100px;
  align-items: center;
}

.header-logo {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 100%;
  cursor: pointer;
}

/*Header Navigation*/

.header-container nav {
  display: flex;
  align-items: center;
  margin: 0px auto;
}

.first-ul {
  display: flex;
  list-style: none;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-right: 70px; 
  align-items: center;
}

.second-ul {
  display: flex;
  list-style: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.first-ul a {
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color:black;
  padding-left: 30px;
  text-transform: uppercase;
}

.watch-live {
  padding-right: 30px;
  padding-left: 30px;
  color: red;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 18px;
 
  text-transform: uppercase;
}

/*NB Material Icon button for Watch Live has an inline css
check HTML File if you need to style it*/

.regbtn {
  background-color: var(--button-color);
  border: none;
  padding: 17px 34px;
  text-transform: uppercase;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.hero-heading {
  display: flex;
  justify-content: space-around;
  margin: 40px auto;
}

h1 {
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 80px; 
  margin-right: auto;
  margin-left: 15px;
  margin-top: 15px;
  text-transform: uppercase;
  vertical-align: auto;
}

.hero-logo {
  margin-left: auto;
  margin-right: 15px;
}

.hero-subheading {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.sub-heading-text {
  margin-left: auto;
  margin-right: 25px;
  font-size: 18px;
  font-weight: 800;
}

.hero-social-icons {
  display: flex;
  margin-right: auto;
  list-style: none;
  margin-top: -7px;
}

.social-icon {

}

.hero-image {
  position: relative; 
  margin-top: 100px;
}

.main-image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.play-btn {
  position: absolute;
  top: 40%;
  left: 47%;
}

/*Upcoming Event Section*/

.upcoming-event {
  background-color: black;
  margin-top: -140px;
}

.upcoming-event-container {
  display: flex;
  padding: 300px 0px 70px 0px;
  justify-content: center;
}

.upcoming-event-section-title {
  margin-right: -200px; 
}

.upcoming-event-title-text {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
}

.upcoming-event-row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 200px;
  padding: 0 30px;
}

.event-left-column {
  margin-top: 130px;
  margin-right: -37px;
  position: inherit;
  z-index: 2;
}

.event-left-column h6 {
  color: white;
  margin-bottom: 50px;
}

.event-left-column h2 {
  color: white;
  font-size: 50px;
  margin-bottom: 35px;
}

.event-left-column h4 {
  color: white;
  font-size: 18px;
  margin-bottom: 60px;
}

.event-btn {
  background-color: var(--button-color);
  border: none;
  padding: 17px 34px;
  text-transform: uppercase;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.event-right-column {
  z-index: 1;
  position: relative;
  color: black;
}

.upcoming-event-image {
  display: block;
  max-width: 100%;
  margin-right: auto;
  position: relative;
  z-index: 0;
}

/*Latest Event Section*/

.latest-event-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.latest-event-section-title  {
  display: flex;
  margin-left: 100px;
}

.latest-event-title-text {
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
}

.section-body {
  padding-top: 120px;
  justify-content: space-around;
}

.section-body h2 {
  font-size: 50px;
  font-weight: 800;
  text-align: center;
}

.section-subheading {
  display: flex;
  justify-content: space-evenly;
  font-weight: 700;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.latest-event-images {
  position: relative; 
}

.latest-event-main-image {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  position: relative;
}

/*Resources Section*/

.resources-container {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
}

.resources-section-title {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.resources-section-title h4 {
  font-size: 18px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 800;
}

.resources-section-title h2 {
  font-size: 50px;
  font-weight: 800;
}
/* Row and Columns*/
.resources-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 70px;
}

.resources-column {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 8px;
  margin-right: 8px;
}

.resources-image {
  max-width: 100%;
}

.resources-column-text {
  background-color: black;
  max-width: 100%;
  padding: 60px 50px 20px 50px;
}
/*Article and Interview title */
.article {
  color: #EB1D36;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.interview {
  color: var(--button-color);
  text-transform: uppercase;
  margin-bottom: 40px;
}

.resources-column-text h3 {
  color: white;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 30px;
}

.excerpt {
  color: white;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 50px;
}

.column-buttom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.author {
  color: white;
  font-size: 11px;
  line-height: 16px;
}

/* Learn More Section*/

.learn-more-container {
  display: flex;
  justify-content: space-around;
  background-color: #EBE8E2;
  margin-top: 150px;
  margin-left: 80px;
  margin-right: 80px;
  padding: 40px 50px;
  position: relative;

}

.learn-more-image {
  max-width: 100%;
}

.learn-more-left-column h2 {
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.learn-more-btn {
  margin-left: -25px;
  padding-right: 30px;
  padding-left: 30px;
  color: black;
  text-decoration: none;
  font-family: "Archivo", sans-serif;
  font-weight: 800;
  font-size: 18px;
}

/*NB Learn more arrow icon is style with an inlne css
please make reference to the HTML file if you need to style it*/

/*Stay Ahead Section*/

.stay-ahead-section {
  background-color: black;
  margin-top: -100px;
}

.stay-ahead-container {
  margin-right: 80px;
  margin-left: 80px;
  padding-top: 100px;
  padding-bottom: 10px;
}

/*NB Hr tag (The horizontal line) was styled inline
in the HTML file) please make reference to the 
HTML document if you need to edit it*/

.stay-ahead-row {
  display: flex;
  justify-content: space-between;
  margin: 100px 40px ;
}

.stay-ahead-container h2 {
  font-size: 80px;
  font-weight: 800;
  color: white;
  line-height: 75px;
}

.stay-ahead-btn {
  background-color: var(--button-color);
  border: none;
  padding: 17px 34px;
  text-transform: uppercase;
  color: white;
  font-family: "Archivo", sans-serif;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*Footer Section*/

.footer-section {
  background-color: black;
}

.footer-container {
  padding: 20px 50px;
}
/*Footer Top Row*/

.footer-top-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 140px;
  margin:  
}

/*Footer Top Left Column*/

.footer-top-left-column {
  display: flex;
}

.footer-logo {
  margin-right: 200px;
}
/* Footer Top Right Column*/

.footer-top-left-column ul {
  list-style: none;
}

.footer-nav-menu {
  color: white;
  text-transform: capitalize;
  line-height: 40px;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  padding-right: 70px;
}

.email-placeholder {
  padding: 16px 80px 13px 20px;
  background-color: black;
  font-size: 18px;
  color: white;
  text-align: left;
  border-style: solid;
  border-color: white;
  margin-right: -5px;
}

.form-submit-btn{
  border: none;
  padding: 14px 36px;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 800;
  cursor: pointer;
}

.subscribe-text {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 25px;
  font-stretch: expanded;
}

.subscribe-sub-text {
  color: white;
  font-size: 11px;
  margin-top: 25px;
  line-height: 15px;
  font-stretch: expanded;
}
/*Footer Bottom Row*/

.footer-bottom-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
/*Bottom Left Column*/
.copyright-text {
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}

.contact-details {
  color: grey;
  font-size: 18px;
  font-weight: 500;
}

/*Footer Bottom Right Column*/

.footer-bottom-right-column {
  display: flex;
}

.footer-bottom-right-column ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.terms-and-privacy {
  color: white;
  font-size: 11px;;
  cursor: pointer;
  text-decoration: none;
  padding-right: 35px;
}

.footer-social-icons-grouped {
  margin-left: 145px;
}

.footer-social-icons {
  padding-right: 13px;
}
























